<persistence-unit name="LeksjonStandaloneEntitetPU" transaction-type="RESOURCE_LOCAL">
    <provider>oracle.toplink.essentials.PersistenceProvider</provider>
    <class>leksjon.entitet1.Bok</class>
    <properties>
        <property name="toplink.jdbc.user" value="brukernavn"/>
        <property name="toplink.jdbc.password" value="passord"/>
        <property name="toplink.jdbc.url" value="jdbc:derby://localhost:1527/testDB"/>
        <property name="toplink.jdbc.driver" value="org.apache.derby.jdbc.ClientDriver"/>
        <property name="toplink.ddl-generation" value="drop-and-create-tables"/>
    </properties>